.icons{
    border:5px solid black;
    width: 3rem;
    height: 3rem;
    margin: 10px;
    background-color: #ffc107;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}